.markAsDone{
   background-color: rgb(241, 83, 83);

}

 body{
      padding: 3rem 3rem;
      background-color: lightsalmon;
      
  }
h1{
   font-size: 2rem;
   text-transform: uppercase;
   margin-top: 1rem;

}
h2{
   font-size: 1.1rem;
  
   text-transform: uppercase;
   margin-bottom: 2rem;
   padding: .75rem;
   color:#777;
}
.main{
   
      grid-template-columns: 100% 1fr;
      grid-gap: 4rem;
      background-color: white;
      margin-top: 1rem;
  }
.addTodo{
  ;
}
